.cursos-container {
    border-radius: 7px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;

        &-title {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            
            mat-icon {
                display: inline-flex;
                font-size: 28px;
                width: auto;
                height: auto;
            }
            
            p {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
            }

            span {
                color: gray;
                font-size: 14px;
            }
        }
        
        &-subtitle {
            font-size: 18px;
            font-weight: 400;
        }
    }

    &-body {
        padding: 10px 20px;

    }

    &-table {
        padding: 10px 20px;
        overflow: auto;
    }
}

$color-border-table: #005249;

.mat-mdc-table {
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.mat-mdc-header-cell {
  border: none;
  font-size: 16px;
  color: $color-border-table;
}

.mat-mdc-cell {
  border-top: 1px solid $color-border-table;
  border-bottom: 1px solid $color-border-table;
}

.mat-mdc-cell:first-of-type {
  border-left: 1px solid $color-border-table;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.mat-mdc-cell:last-of-type {
  border-right: 1px solid $color-border-table;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.mdc-data-table__row:last-child .mat-mdc-cell {
  border-bottom: 1px solid $color-border-table;
}

.mat-mdc-paginator {
  background: transparent;
}
  
