<div class="cursos-container">
    <div class="cursos-container-header">
        <div class="cursos-container-header-title">
            <mat-icon class="material-symbols-outlined">book</mat-icon>
            <div>
                <p>Cursos</p>
            </div>
        </div>
    </div>
    <div class="cursos-container-body">
        <form [formGroup]="cursosForm" (ngSubmit)="saveBtn()">
            <div class="row mb-5">
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label for="curso" class="form-label">Curso</mat-label>
                        <mat-select id="curso" formControlName="cursoName">
                            <mat-option [value]="curso" *ngFor="let curso of cursos" >
                                {{curso.course | titlecase}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            {{ cursoControl?.errors | formFieldValidationErrors }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label for="alumno">Alumno</mat-label>
                        <mat-select id="alumno" formControlName="alumnoName">
                            <mat-option [value]="alumno" *ngFor="let alumno of alumnosSelectList">
                               {{alumno.name | titlecase}} {{alumno.lastName | titlecase}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            {{ alumnoControl?.errors | formFieldValidationErrors }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Calificación</mat-label>
                        <input matInput formControlName="nota">
                        <mat-error>
                            {{ notaControl?.errors | formFieldValidationErrors }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                    <button mat-flat-button type="submit" color="primary" class="w-50">Guardar</button>
                </div>
            </div>
        </form>

        <div class="cursos-container-header-subtitle">
            <div>
                <p>Registro de calificaciones</p>
            </div>
        </div>
       <div class="cursos-container-table col-12">
           <table mat-table [dataSource]="estudiantesTable">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.alumnoName.name | titlecase }} </td>
                </ng-container>
                
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{ element.alumnoName.lastName | titlecase }} </td>
                </ng-container>

                <ng-container matColumnDef="course">
                    <th mat-header-cell *matHeaderCellDef> Curso </th>
                    <td mat-cell *matCellDef="let element"> {{ element.cursoName.course | titlecase }} </td>
                </ng-container>

                <ng-container matColumnDef="nota">
                    <th mat-header-cell *matHeaderCellDef> Calificación </th>
                    <td mat-cell *matCellDef="let element"> {{ element.nota }} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator>
        </div> 
    </div>
</div>