.login-container {
    background: lightgoldenrodyellow;
    width: 100%;
    height: 100vh;
    background-image: url('../../../../assets/stacked-steps-haikei.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    border: 1px solid;

    padding: 42px;
    border-radius: 10px;

    background: #00000063;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title p {
        font-size: 30px;
        color: #212121;
        font-weight: 600;
    }
}


// .mat-mdc-form-field {
//     .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
//         border-color: #ffffff !important;
//     }
// }
