.custom-content {
    background: #F8FBE9;

    &-routerOutlet {
        position: relative;
        padding: 24px 0 0;
        margin-top: 90px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}
.custom-sidenav {
    background: #F8FBE9;
    padding: 12px 47px 12px 32px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
